<div style="margin: 40px;">
  <h1>Name: {{user.name}}</h1>
  <h2>email: {{user.email}}</h2>
  <h2>telegram: {{user.telegram}}</h2>
  <hr>
  <ng-container *ngIf="(currentInvitee | async) as inviteeState">

    <ng-container *ngIf="inviteeState.completed; else pending">
      <div style="margin-top: 20px;">
        <ng-container *ngIf="inviteeState.invitee && inviteeState.invitee.amount > 0">
          <div style="display: flex; align-items: center;">
            <h2>SUCCESS</h2>
            <h4 style="margin-left: 20px;">{{inviteeState.invitee?.amount}} tickets lest</h4>
          </div>
          <div style="margin-top: 20px;">
            <button mat-raised-button color="primary" (click)="validateTicket()"> Validate one ticket </button>
          </div>

        </ng-container>
        <ng-container *ngIf="inviteeState.invitee && inviteeState.invitee.amount === 0">
          <h2>No tickets left</h2>
        </ng-container>
        <ng-container *ngIf="!inviteeState.invitee">
          <h2>User not found</h2>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #pending>
      <div>Loading...</div>
    </ng-template>
  </ng-container>

</div>
