<div style="margin: 40px;">
  <h1>Name: {{user.name}}</h1>
  <h2>email: {{user.email}}</h2>
  <h2>telegram: {{user.telegram}}</h2>
  <hr>
  <ng-container *ngIf="(currentInvitee | async) as inviteeState">

    <ng-container *ngIf="inviteeState.completed; else pending">
      <div style="display: flex; margin-top: 20px;">
        <h2>{{inviteeState.invitee ? 'SUCCESS' : 'FAILED'}}</h2>
      </div>
    </ng-container>
    <ng-template #pending>
      <div>Loading...</div>
    </ng-template>
  </ng-container>

</div>
