<h1 style="margin: 20px; font-weight: bold;">Ukraine Bali</h1>
<br>
<div style="margin: 20px;">
  <div style="display: flex; justify-content: space-between">
    <button mat-raised-button *ngIf="!isLoggedIn()" routerLink="auth">Увійти</button>
    <button mat-raised-button *ngIf="isLoggedIn()" (click)="signOut()">Вийти</button>
    <button mat-raised-button routerLink="/demo-input">Згенерувати QR код </button>
  </div>
  <div>
    <button mat-button color="primary" routerLink="/my/invitees" style="width: 100%; font-size: 20px; font-weight: bold; margin-top: 20px;">
      Знайти у всьому списку
    </button>
  </div>


</div>
<div class="page-wrapper">
  <router-outlet></router-outlet>
</div>

